body {
  background: #eee;
}

main {

  margin: 0;
  padding: 50px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  background-color: darkblue;
  text-align: center;
  font-size: 60px;
  line-height: 1.2em;
  font-weight: 200;
  color: white;
  padding: 80px 10px;
}

.user-toggle-view {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.search-box {
  display: block;
  text-align: center;
}

form {
  display: inline;
}

/* li {
  padding: 15px;
} */

.search-results {
  background-color: white;
}

.btn {
  width: 60px;
  border: 1px solid grey;

}

.sbtn {
  margin-top: 10px;
  color: white;
  font-family: Georgia;
  font-size: .8em;
  width: 70px;
  height: 30px;

}
.btn-save {
  background-color: none;
  color: black;
  border: 1px solid grey;
  font-weight: bold;
}

.btn-unsave {
  background-color: darkblue;
}

.btn-ctl {
  width: 200px;
  margin: 5px;
  font-family: Roboto;
  font-size: 1.6em;
  border-radius: 15px;
}

.strong {
  font-weight: bold;
  /* font-style: italic; */
  font-size: 1.5em;
}

.description {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.links {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

input[type=search] {
  margin: 30px 10px;
  padding: 10px;
  font-size: 1.8em;
  border: 1px solid grey;
  border-radius: 15px;
}
input:focus {
  background-color: orange;
}

.result-container {
  display: flex;
}

.grid-left {
  width: 10%;
}
.grid-right {
  width: 90%;
}
