body {
  background: #eee;
}

main {

  margin: 0;
  padding: 50px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  background-color: darkblue;
  text-align: center;
  line-height: 1.2em;
  font-weight: 200;
  color: white;
  padding: 80px 10px;
}

.user-toggle-view {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.search-box {
  display: block;
  text-align: center;
}

form {
  display: inline;
}

.search-results {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  width: 60px;
  border: 1px solid lightgrey;
}

.sbtn {
  margin: 10px 0;
  color: white;
  font-family: Georgia;
  font-size: .8em;
  width: 70px;
  height: 30px;
  outline: none;
}
.btn-save {
  background-color: none;
  color: black;
  border: 1px solid darkblue;
  font-weight: bold;
  color: darkblue;
}

.btn-unsave {
  background-color: darkblue;
}

.btn-ctl {
  width: 200px;
  padding: 10px 5px;
  margin: 5px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 15px;
  outline: none;
}

button.btn-ctl:hover {
  background-color: #ccffe6;
}
button.btn-ctl:active {
  background-color: #ccffe6;
}
.highlight {
  background-color: #ccffe6;
}

.btn-nav {
  width: 80px;
  margin: 0 10px;
  outline: none;
  border: 1px solid lightgrey;
}
.btn-nav:hover {
  background-color: mintcream;
}
.nav-results {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.title {
  font-weight: bold;
  font-size: 1em;
  overflow-wrap: break-word;
}
.authors {
  font-size: .8em;
  font-style: italic;
}
.error-msg {
  text-align: center;
  margin-top: 20px;
  font-family: Roboto, Helvetica;
  font-style: italic;
}
.description {
  margin: 10px 0;
  padding: 0.5em 0;
  display: block;
  overflow-wrap: break-word;
}

.links {
  margin-bottom: 20px;
}

.link-button {
  width: 80px;
  height: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #f5f0f0;
}

a:link {
  text-decoration: none;
}
.link-button:hover {
  background-color: mintcream;
}


ul {
  list-style: none;
}

input[type=search] {
  margin: 30px 10px;
  padding: 10px 15px;
  font-size: 1.6em;
  font-style: italic;
  border: 1px solid lightgrey;
  border-radius: 15px;
  width: 80%;
}
input:focus {
  background-color: #ccffe6;
  outline: none;
}


@media screen and (min-width: 601px) {
  .links {
    padding: inherit;
  }
  .link-button {
    display: inline;
    margin: 15px 4px;
  }
  .header {
    font-size: 40px;
  }
  .result-container {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid lightgrey;
  }
  .grid-left {
    width: 20%;
  }
  .grid-right {
    width: 80%;
  }
}

@media screen and (min-width: 100px) and (max-width: 600px) {
  .links {
    padding: 0;
  }
  .link-button {
    display: block;
    margin: 5px 0;
  }
  .header {
    font-size: 30px;
  }
  .result-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
  }
  .grid-left {
    width: 100%;
  }
  .grid-right {
    width: 100%;
  }
}
